<div id="<%= dom_id phone %>">
  <p>
    <strong>Number:</strong>
    <%= phone.number %>
  </p>

  <p>
    <strong>Segment phone:</strong>
    <%= phone.segment_phone %>
  </p>

  <p>
    <strong>Default phone:</strong>
    <%= phone.default_phone %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= phone.contact_id %>
  </p>

</div>
