<%= turbo_frame_tag dom_id(contact) do %>
<div class = "contact contact-body" %>
  <p>
    <strong>Name:</strong>
    <%= contact.name %>
  </p>

  <p>
    <strong>Born date:</strong>
    <%= contact.born_date %>
  </p>

  <p>
    <strong>Phones:</strong>
    <% contact.phones.each do |phone| %>
      <p>
      <%= phone.number %>
      default = <%= phone.default_phone %>
      </p>
    <% end %>  
  </p>
  <p><%= link_to "Edit this contact", edit_user_contact_path(contact.user_id, contact)%></p>
  <p><%= link_to "Delete this contact", user_contact_path(:user_id => contact.user_id, :id => contact), method: :delete, remote: true%></p>

</div>
<% end %>
