<div id="<%= dom_id contact %>">
  <p>
    <strong>Name:</strong>
    <%= contact.name %>
  </p>

  <p>
    <strong>Born date:</strong>
    <%= contact.born_date %>
  </p>

  <p>
    <strong>Phones:</strong>
    <% contact.phones.each do |phone| %>
      <p>
      <%= phone.number %>
      default = <%= phone.default_phone %>
      </p>
    <% end %>  
  </p>

 



</div>
