<p style="color: green"><%= notice %></p>

<h1>Contacts</h1>

<%= link_to "Back to users", users_path %>
<br>
<%= link_to "New contact", new_user_contact_path, data: { turbo: false }  %>

<%= turbo_stream_from "contacts" %>
<%= turbo_frame_tag "contacts" do %>
  <% render @contacts.where(:user_id => params['user_id']) %>
<% end %>
<br>

